* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banandnav{
    width: 100%;
    height: auto;
}
header{

   display: flex;
   justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            
          
}
.logo{
    display: flex;
    align-items: center;
}
nav {
display: flex;
justify-content: space-between;
list-style: none;
}

nav a{
    

    text-decoration: none;
    gap: 30px;
}

#iconbar{
    display: none;
}
#Home{
    color: orange;
}
#ab{
    color: cyan;
}
#fa{
    color: blueviolet;
}
#ad{
    color: chartreuse;
}
#empow{
    color: rgb(244, 167, 113);
}
#impo{
    color:rgb(117, 117, 245);
}
.contactbtn{
    background-color: orange;
    border: none;
    border-radius: 14px;
    margin-left: 20px;
    color: white;
width: 120px;
}
/* .burder{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: none;
} */
.banner{
    display: flex;
    align-items: center;

}
.bantext{
    max-width: 50%;
  
}
.banimage img{
    width: 100%;
    height: auto;
}

.btnban{
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 10px;
}

/* 
.headtext{
    display: flex;
    font-size: larger;
    font-weight: 600;
    align-items: center;
  
} */
@media screen and (max-width:500px){
    #iconbar{
        display: inline;
    }
    nav,#logotext{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    header{
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
}
